*{
  box-sizing: border-box;
  color: #5c7f3b;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #e8d3b6;
}
h3{
    display: flex;
    align-items: center;
    justify-content: center;
    background:#e8d3b6;
    height: 30px;
    font-weight: bold;
    text-decoration: none;
	  color: #5c7f3b;
}
.menu-area a{
  display: flex;
  align-items: center;
  justify-content: center;
  background:#e8d3b6;
  height: 60px;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  color: #5c7f3b;

}
.menu-area a:hover{
  background: #654315;
  color: #5c7f3b;
}
.menu-area ul{
  list-style: none;
  display: flex;
}
.menu-area li{
  position: relative;
  width: 100%;
  text-align: center;
}
.menu-area li:hover .dropdown-1 > li{
  display: block;
  top: 0;
}
.dropdown-1 li{
  display: none;
  position: relative;
}
.dropdown-1{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.dropdown-1 li:hover{
  display: block;
}
#footer{
  margin:0px;
  border: solid 10px #654315;
}
#footer >div{
  background-color: #654315;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: none;
  color: #e8d3b6;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
#title{
  padding:25px 0px 0px 0px ;
   font-weight: bold;
    font-size: larger;
     color: #5c7f3b;
}