*{
  box-sizing: border-box;
  color: #cdeba4;
  font-family:Arial, Helvetica, sans-serif;
  background-color: black;
}
h3{
    display: flex;
    align-items: center;
    justify-content: center;
    background:black;
    height: 40px;
    font-weight: bold;
    text-decoration: none;
}
#title {
  flex-grow: 2;
  color: #cdeba4; 
  background-color: black;
  font-size: 40px;
}
.menu-area a{
  display: flex;
  align-items: center;
  justify-content: center;
  background:black;
  height: 60px;
  text-decoration: none;

}
.menu-area a:hover{
  background: rgb(60, 60, 60);
}
.menu-area ul{
  list-style: none;
  display: flex;
}
.menu-area li{
  position: relative;
  width: 100%;
  text-align: center;
}
.menu-area li:hover .dropdown-1 > li{
  display: block;
  top: 0;
}
.dropdown-1 li{
  display: none;
  position: relative;
}
.dropdown-1{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.dropdown-1 li:hover{
  display: block;
}
#footer{
  margin: 15px;
  border: solid 10px rgb(60, 60, 60);
}
#footer >div{
  background-color: rgb(60, 60, 60);
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: none;
  color: black;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
